<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voting App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>Voting Page</h1>
      <form action="/submit-vote" method="post">
        <% for (const role of candidatesData.roles) { %>
        <h2><%= role.name %></h2>
        <br />
        <label for="<%= role.id %>Candidate">Select Candidate:</label>
        <select name="<%= role.id %>Candidate" required>
          <% for (const candidate of role.candidates) { %>
          <option value="<%= candidate.id %>"><%= candidate.name %></option>
          <% } %>
        </select>
        <hr />
        <input type="hidden" name="category" value="<%= role.id %>" />
        <% } %>
        <button type="submit">Submit Votes</button>
      </form>
    </div>

    <script>
      // Reset form fields after successful submission
      document.forms[0].reset();
    </script>
  </body>
</html>
